
<div class="container">
    <div class="card card-header-pills border-0 rounded shadow-lg mt-3 mb-3">
        <div class="card-header bg-white">
            <div class="row align-items-center">
                <h2 class="text-uppercase text-primary text-center">
                    User List
                </h2>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Company</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}
