/* Base font size */

/* Footer styling */
/* Footer Styling */

.footer-main {
    color: #ffffff;
    text-align: center;
    font-size: 0.875rem;
    width: 100%;
    height: 20vh;
    bottom:0;
    position:relative;
    display: block;
    padding: 1rem 0;
}

/* Footer link color */
.footer a {
    color: #FFF; /* Warm Coral */
    text-decoration: none; /* Remove underline */
    /*margin: 0 0.5rem;*/ /* Reduce spacing between links */
}

    /* Footer link hover color */
    .footer a:hover {
        color: #FF6F61; /* Light Coral */
    }

/* Footer icons color */
.footer i {
    color: #FF6F61; /* Warm Coral */
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-content {
    transition: transform 0.3s ease;
}

.card-content:hover {
    transform: scale(1.05); /* Adjust the scale factor as needed */
}

.input-shadow{
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgb(128, 128, 128, 0.3);
}

.card-shadow {
    padding: 1px;
    border-radius:3px;
    box-shadow: inset 0 0 4px rgb(128, 128, 128, 0.3);
}

.card-title, .card-text {
    margin-bottom: 0.5rem;
}

.divider-text:before,
.divider-text:after{
    flex:1;
}