@model Category

<div class="card shadow-lg border-top-0 border-secondary rounded-5" style="margin:7%">
    <div class="card-header bg-primary  bg-gradient text-white">
        <div class="row text-center">
            <div class="text-center">
                <h2 class="py-2" style="text-transform:uppercase">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-5">
        <div class="row pt-3 ">
            <div class="col-md-12 ">
                <form asp-action="Create" method="post" class="row">

                    @* <div asp-validation-summary="ModelOnly"></div> *@
                    <div class="form-floating mb-3 p-1 col-md-12">
                        <input asp-for="Name" class="form-control input-shadow" />
                        <label asp-for="Name" class="form-label sm-2 text-muted"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 p-1 col-md-12">
                        <input asp-for="DisplayOrder" class="form-control input-shadow" />
                        <label asp-for="DisplayOrder" class="form-label sm-2 text-muted"></label>
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary form-control input-shadow">Create</button>
                        </div>
                        <div class="col-md-2">
                            <a asp-controller="Category" asp-action="Index" class="btn border-1 btn-secondary input-shadow form-control">
                                Back To List
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}