@model Category

<div class="card shadow-lg border-top-0 border-secondary rounded-5" style="margin:7%">
    <div class="card-header bg-primary text-white">
        <div class="row text-center">
            <div class="text-center">
                <h2 class="py-2" style="text-transform:uppercase">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create" method="post" class="row">

            @* <div asp-validation-summary="ModelOnly"></div> *@
            <div class="mb-2 row  p-1 mx-1">
                <label asp-for="Name" class="form-label p-0 mx-1"></label>
                <input asp-for="Name" class="form-control input-shadow" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1 mx-1">
                <label asp-for="DisplayOrder" class="form-label p-0 mx-1 "></label>
                <input asp-for="DisplayOrder" class="form-control input-shadow" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>

            </div>
            <div class="row mx-1">
                <div class="col-6 col-md-2">
                    <button type="submit" class="btn btn-primary form-control input-shadow">Create</button>
                </div>
                <div class="col-6 col-md-2">
                    <a asp-controller="Category" asp-action="Index" class="btn border-1 btn-secondary input-shadow shadow-sm form-control">
                        Back To List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}