@model List<Category>

<div class="container">
    <div class="row pt-2 pb-2">
        <div class="col-6">
            <h2 class="text-uppercase text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-baby-blue btn-sm shadow-sm">
                <i class="bi bi-plus-circle"></i> Add a New Category
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (Category category in Model.OrderBy(c => c.DisplayOrder))
        {
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">@category.Name</h5>
                        <p class="card-text">Display Order: @category.DisplayOrder</p>
                        <div class="d-flex justify-content-between">
                            <a asp-controller="Category" asp-action="Edit" asp-route-categoryId="@category.Id" class="btn text-white btn-outline-primary btn-sm shadow-sm mb-0">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-outline-danger btn-sm mb-0">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
