@model List<Category>

<div class="container">
    <div class="card card-header-pills border-0 rounded shadow-lg mt-5" style="padding:7%">
        <div class="card-header bg-white">
            <div class="row pt-2 m-2 justify-content-between align-items-center">
                <div class="col-6">
                    <h2 class="text-uppercase text-primary">
                        Category List
                    </h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-primary bg-gradient input-shadow shadow-sm">
                        <i class="bi bi-plus-circle"></i> Add a New Category
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Display current page information -->
            <div class="row justify-content-between pt-2 m-2">
                <div id="pageInfo" class="col-6 mt-3 px-4">
                    Showing <span id="currentCategoryStart">0</span> to <span id="currentCategoryEnd">0</span> of <span id="totalCategories">0</span> categories
                </div>
                <div class="col-12 text-end col-md-3">
                    <input type="text" id="searchInput" class="form-control input-shadow me-sm-2 text-dark" placeholder="Search categories..." />
                </div>
            </div>
            <div class="row pt-2 m-2 justify-content-start border-secondary" id="categoryContainer">
                <!-- Category cards will be populated here dynamically -->
            </div>
            <div id="paginationCategoryNumbers" class="pagination shadow-none bg-white justify-content-end mx-3" style="font-weight:bold; color:black;" >
                <!-- Pagination controls will be populated here dynamically -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/category.js"></script> <!-- Reference to your JavaScript file -->
}
