@model List<Product>

<div class="container">
    <div class="row justify-content-center">
        @foreach (var product in Model)
        {
            <div class="card bg-white m-2 p-0 border-5 border-top border-primary">
                <div class="card-header bg-white p-2">
                    <img src="@product.ImageUrl" alt="Product Image" class="card-img-top" />
                </div>
                <div class="card-body p-3">
                    <h5 class="card-title text-center">@product.Title</h5>
                    <p class="card-text text-center">@product.Author</p>
                    <p class="card-text text-center text-info">@product.Price100.ToString("C")</p>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card-title, .card-text {
        margin-bottom: 0.5rem;
    }
</style>
