@model Product

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-baby-blue">
        <div class="row text-center">
            <div class="text-center">
                <h2 class="py-2" style="text-transform:uppercase">Edit Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create" method="post" class="row">
            @* <div asp-validation-summary="ModelOnly"></div> *@
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Title" class="form-label p-0 mx-1"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Description" class="form-label p-0 mx-1"></label>
                    <textarea asp-for="Description" class="form-control" style="height:62px"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="ISBN" class="form-label p-0 mx-1"></label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Author" class="form-label p-0 mx-1"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="ListPrice" class="form-label p-0 mx-1"></label>
                    <input asp-for="ListPrice" class="form-control" />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Price" class="form-label p-0 mx-1"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Price50" class="form-label p-0 mx-1"></label>
                    <input asp-for="Price50" class="form-control" />
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Price100" class="form-label p-0 mx-1"></label>
                    <input asp-for="Price100" class="form-control" />
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="CategoryId" class="form-label p-0 mx-1 my-2">Category</label>
                    <select asp-for="Price100" class="form-select " asp-items="ViewBag.CategoryList">
                        <option disabled value="0">--Select Category--</option>
                        <option  selected value="@Model.CategoryId">@Model.Title</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="row  mx-1">
                <div class="mb-2">
                    <button type="submit" class="btn btn-outline-primary bg-baby-blue form-control">Create</button>
                </div>
                <div class="mb-2">
                    <a asp-controller="Product" asp-action="Index" class="btn border-1 btn-secondary shadow-sm form-control">
                        Back To List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
