@model List<Product>

<div class="container">
    <div class="card card-header-tabs mt-4">
        <div class="card-header">
            <div class="row pt-2 m-2 justify-content-between align-items-center">
                <div class="col-6">
                    <h2 class="text-uppercase text-primary-emphasis">
                        Product List
                    </h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Product" asp-action="Upsert" class="btn btn-baby-blue btn-sm shadow-sm">
                        <i class="bi bi-plus-circle"></i> Add a New Product
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body" style="max-height: 800px;">
            <div id="pageInfo" class="mb-3">
                Showing <span id="currentStart">1</span> to <span id="currentEnd">3</span> of <span id="totalProducts">0</span> products
            </div>
            <div class="row pt-2 m-2 justify-content-start" id="productContainer">
                <!-- Product cards will be populated here dynamically -->
            </div>
            <div>
                <ul id="paginationNumbers" class="pagination bg-light shadow-none mt-5">
                    <li class="page-item">
                        <a class="page-link" id="prevPage">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="nextPage">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/product.js"></script>
}